wheel==0.34.2
boto3==1.14.26
Django==2.2.14
django-cors-headers==3.4.0
django-dotenv==1.4.2
django-filter==2.3.0
djangoql==0.14.0
django-import-export==2.3.0
django-rest-auth==0.9.5
django-storages==1.9.1
djangorestframework==3.11.0
dynamic-rest==1.9.6
graphene-django==2.12.1
gunicorn==20.0.4
pip==19.2.1
psycopg2-binary==2.8.5
PyYAML==5.3.1
setuptools==49.2.0
six==1.15.0