Django==2.2
psycopg2-binary==2.8.2
djangorestframework==3.9.2
django-rest-auth==0.9.5
django-cors-headers==2.5.2
django-rest-swagger==2.2.0
pip==19.0.3
setuptools==41.0.0
django-dotenv==1.4.2
django-filter==2.1.0
PyYAML==5.1