#
# __Seed builder__
#   AUTO_GENERATED (Read only)
#   Modify via builder
#

wheel==0.41.2
celery==5.3.4
daphne==4.0.0
channels==4.0.0
channels-redis==4.1.0
coverage==7.3.2
Django==4.2.6
django-cors-headers==4.3.0
django-dotenv==1.4.2
django-filter==23.3
djangoql==0.17.1
django-import-export==3.3.1
dj-rest-auth==5.0.1
django-storages==1.14.2
djangorestframework==3.14.0
graphene-django==3.1.5
gunicorn==21.2.0
psycopg2-binary==2.9.9
pylint==3.0.1
redis==5.0.1
requests==2.31.0
sentry-sdk==1.32.0
setuptools==68.2.2
six==1.16.0