#
# __Seed builder__
#   AUTO_GENERATED (Read only)
#   Modify via builder
#

wheel==0.37.0
boto3==1.18.63
celery==5.1.2
coverage==6.0.2
Django==3.2.8
django-cors-headers==3.10.0
django-dotenv==1.4.2
django-filter==21.1
djangoql==0.15.3
django-import-export==2.6.1
django-rest-auth==0.9.5
django-storages==1.12.2
djangorestframework==3.12.4
furo==2021.10.9
graphene-django==2.15.0
gunicorn==20.1.0
myst-parser==0.15.2
pip==21.3
psycopg2-binary==2.9.1
pylint==2.11.1
PyYAML==6.0
setuptools==58.2.0
six==1.16.0
Sphinx==4.2.0