#
# __Seed builder__
#   AUTO_GENERATED (Read only)
#   Modify via builder
#

wheel==0.45.1
celery==5.5.2
daphne==4.2.0
channels==4.2.2
channels-redis==4.2.1
coverage==7.8.2
Django==5.2.1
django-celery-beat==2.8.1
django-cors-headers==4.7.0
django-constance==4.3.2
django-dotenv==1.4.2
django-filter==25.1
django-picklefield==3.3
djangoql==0.18.1
django-import-export==4.3.7
dj-rest-auth==7.0.1
django-storages==1.14.6
djangorestframework==3.16.0
graphene-django==3.2.3
gunicorn==23.0.0
jsonschema==4.24.0
psycopg2-binary==2.9.10
pylint==3.3.7
PyYAML==6.0.2
redis==6.2.0
requests==2.32.3
sentry-sdk==2.29.1
setuptools==80.9.0
six==1.17.0